@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --initial-h1-font-size: 30px; 
  --initial-h2-font-size: 25px; 
  --initial-p-font-size: 20px; 
  /* --navbar-footer-color: #333333;  */
  /* background: #33a2db; */
  --navbar-color: #ffffff;
  --footer-color: #333333;
  /* --navbar-footer-font-color: #cccccc; */
  --navbar-font-color: #333333;
  --footer-font-color: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.navbar-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 100px;
  background-color: var(--navbar-color);
  /* background-color: var(--navbar-footer-color); */
  position: relative;
  /* position: fixed;
  width: 100%;
  top: 0; */
}

/* .logo {
    transition: transform 0.5s ease-in-out;
} */

.menu-icon {
  display: none;
}

/* .nav-elements {
  transition: transform 0.5s ease-in-out;
} */

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  /* color: var(--navbar-footer-font-color); */
  color: var(--navbar-font-color);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-elements ul a.active {
  /* color: var(--navbar-footer-font-color); */
  color: var(--navbar-font-color);
  font-weight: 500;
  position: relative;
  /* text-transform: uppercase; */
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--navbar-font-color);
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 100px;
    /* background-color: var(--navbar-footer-color); */
    background-color: var(--navbar-color);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
  }

  .nav-elements.active {
    width: 60%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 20px;
  }
}

.footer {
  height: 250px;
  display: flex;
  background-color: var(--footer-color);
  color: var(--footer-font-color);
  position: relative;
  align-items: center;
}

.copyright {
  text-align: center;
  flex-basis: 100%;
}

/* novo */

.EU-note {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 767px) {
  .EU-note {
    flex-direction: column;
  }
}
  
.image {
  flex: 1;
  margin: 10px;
}
  
.image img {
  max-width: 100%;
  height: auto;
}
  
.text {
  text-align: center;
  flex-basis: 100%;
}
  

h1 {
  font-size: var(--initial-h1-font-size);
  /* margin-bottom: 10px; */
  text-align: center;
}

h2 {
  font-size: var(--initial-h2-font-size);
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: var(--initial-p-font-size);
}

.p-footer {
  font-size: 16px;
}

.main_content {
  /* padding: 20px; */
  /* padding: 100px; slučaj fiksne navigacije */
  /* margin: 20px; */
  /* margin-top: 20px; */
  text-align: center;
  /* border: 1px solid #ccc; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
}

.box {
  /* max-width: 500px; */
  width: 520px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out;
  /* z-index: -1; */
}

.box.left-enter {
  transform: translateX(-40%);
  /* z-index: -1; */
}

.box.right-enter {
  transform: translateX(40%);
  /* z-index: -1; */
}

/* .box.enter {
  transform: translateX(0);
} */

@media (max-width: 767px) {
  .box iframe {
    width: 100%;
    height: 100%;
  }
}

.contact {
  width: auto;
  padding: 10px;
  text-align: justify;
}

label {
  height: 30px;
  display: block;
}

input {
  width: 100%;
  height: 30px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.submit_button {
  background-color: #6ca348;
  border-style: hidden;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: white;
  height: 25px;
}

/* stilovi za accesibility */

.accessibility-menu {
  position: fixed;
  top: 110px;
  left: 10px;
  z-index: 1;
}

.accessibility-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 10px); 
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0; 
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  padding: 10px;
}

.accessibility-buttons.open {
  visibility: visible; 
  opacity: 1; 
}

.accessibility-icon {
  position: relative; 
  cursor: pointer;
}

.accessibility-menu.open .accessibility-icon {
  z-index: 1;
}

.accessibility-buttons button {
  margin-bottom: 5px;
  background-color: #00000033;
  color: black;
  border: none;
  height: 30px;
  width: 150px;
}

.grayscale {
  filter: grayscale(100%);
}

.high-contrast {
  /* background-color: var(--navbar-footer-color); */
  background-color: var(--footer-color);
  color: white;
}

.top-image {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 35.625%;
  /* background-image: url('assets/1.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .gallery {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
}


.lg-react-element {
  column-count: 3;
  column-gap: 10px;
}

.gallery-img {
  max-width: 100%;
  display: block;
  padding: 5px 0px;
  border-radius: 20px;
  transition: transform 0.2s;
}

.gallery-img:hover {
  filter: opacity(.9);
  transform: scale(1.01);
}